# Manipulação de arquivos - Leitura Pandas

In [7]:
import pandas as pd
from os import path, getcwd

arquivo = path.join(getcwd(), 'arquivos', 'dados.txt')
df = pd.read_csv(arquivo, sep="#", header=None)
df.columns = ['nome', 'nota1', 'nota2', 'nota3']
df.head()

     nome  nota1  nota2  nota3
0    joao   10.0    6.0    8.5
1   maria    9.0    6.8    8.5
2   pedro    7.0    4.0    3.8
3   andre   10.0    6.0    8.5
4  fatima    9.0    6.8    8.5

In [8]:
df[df['nota1'] == 10]

    nome  nota1  nota2  nota3
0   joao   10.0    6.0    8.5
3  andre   10.0    6.0    8.5