# Trabalhando com coleções

## Listas

In [15]:
lista = [1,1,1,1,2,3]
print(lista)

lista.sort(reverse=True)
print(lista)
lista[5] = 10
lista.sort(reverse=True)
print(lista)

[1, 1, 1, 1, 2, 3]
[3, 2, 1, 1, 1, 1]
[10, 3, 2, 1, 1, 1]
(1, 1, 1, 2, 3)

## Tuplas

In [16]:
tupla = (1,1,1,2,3)
print(tupla)

tupla[0] = 10
print(tupla)

(1, 1, 1, 2, 3)

TypeError: 'tuple' object does not support item assignment

## Conjuntos

In [18]:
conjunto = {'banana', 'maçã', 'uva', 'banana'}
print(conjunto)

for i in conjunto:
  print(i)

{'uva', 'banana', 'maçã'}
uva
banana
maçã

In [19]:
c1 = {'Maçã', 'Banana'}
c2 = {'Uva', 'Pera', 'Banana'}

c3 = c1.union(c2)

print(c3)

{'Uva', 'Pera', 'Maçã', 'Banana'}

In [20]:
c1 = {'Maçã', 'Banana'}
c2 = {'Uva', 'Pera', 'Banana'}

c1.update(c2)

print(c1)

{'Uva', 'Pera', 'Maçã', 'Banana'}

In [23]:
c1 = {'Maçã', 'Banana'}
c2 = {'Uva', 'Pera', 'Banana'}

c2.remove('Banana')
print(c2)

{'Uva', 'Pera'}

In [27]:
c1 = {"apple", "banana", "cherry"}
c1.pop()
print(c1)

{'cherry', 'apple'}

In [29]:
c1 = {'Maçã', 'Banana'}
c2 = {'Uva', 'Pera', 'Banana'}

print(c1.difference(c2))
print(c1.intersection(c2))

{'Maçã'}
{'Banana'}